$calcbgcolor: #e2e2e2;
$numviewbgcolor: #a9a9a9;
$barbgcolor: #222222;
@mixin overflowset() {
  overflow: hidden;
}
$fontcolor: #d3d3d3;
$fontfamily: Lato;
$btnwidth: 50px;
$btnheight: 60px;
$btnbgcolor: #c3c3c3;

* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: 100%;
  background-color: $barbgcolor;
  opacity: 70%;
  @include overflowset();

  #title {
    float: left;
    color: #d3d3d3;
    font-size: 30px;
    font-family: $fontfamily;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #js-text {
    color: #ffff00;
  }
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.wrapper {
  width: 70%;
  max-width: 400px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $calcbgcolor;
  box-shadow: 5px 5px 15px #0000004d;
  border-radius: 15px;
  @include overflowset();
}

body {
  background-image: url(../assets/back.jpg);
}

.number-view {
  position: relative;
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 82%;
  max-width: 325px;
  min-width: 50%;
  background-color: $numviewbgcolor;
  text-align: right;
  border: 2px solid #666666;
  border-radius: 5px;
  @include overflowset();

  #digits {
    text-align: right;
    outline: none;
    border: none;
    background-color: $numviewbgcolor;
    font-family: $fontfamily;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding-right: 5px;
  }
}

.number-buttons {
  display: grid;
  place-content: center;
  position: absolute;
  top: 35%;
  margin-left: 5%;
  margin-right: auto;

  button {
    font-family: $fontfamily;
    width: $btnwidth;
    height: $btnheight;
    font-size: 45px;
    font-weight: 500;
    outline: none;
    margin: 5px;
    border-radius: 10px;
  }
}

#btn-int {
  font-weight: 500;
}

.operator-buttons {
  display: grid;
  place-content: center;
  position: absolute;
  width: 60px;
  top: 35%;
  left: 80%;

  button {
    font-family: $fontfamily;
    width: $btnwidth;
    height: $btnheight;
    font-size: 25px;
    font-weight: bolder;
    outline: none;
    margin: 5px;
    background: none;
    border-radius: 10px;
  }

  .column2-op {
    display: grid;
    position: absolute;
    left: -95%;
  }
}

.memory-buttons {
  display: grid;
  place-content: center;
  position: absolute;
  width: 60px;
  top: 20%;
  left: 21.2%;
  margin-top: 5px;

  button {
    font-family: $fontfamily;
    width: $btnwidth;
    height: $btnheight;
    font-size: 35px;
    font-weight: bold;
    //margin: 5px;
    background: none;
    border-radius: 10px;
    border-width: 2px;
    outline: none;
    color: darkred;
  }

  .mem-col2{
    display: grid;
    position: absolute;
    left: -100%;
  }
}

#btn-res {
  width: $btnwidth;
  height: 130px;
}

button:hover {
  background-color: $btnbgcolor;
  transition: background-color 0.4s;
}

.foot-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $barbgcolor;
  color: $fontcolor;
  @include overflowset();
  opacity: 55%;

  #credit {
    float: right;
    margin-right: 5px;
    text-align: right;
    font-family: $fontfamily;
  }

  #gh-link {
    text-decoration: none;
    color: $fontcolor;
  }
}
